<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/styles/sobre.css">
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    <title>Inicio</title>
</head>
<body>
    
    <nav id="menu">
        <ul id="pk">
            <li class="box1"><img src="../../public/assets/Camada 223.svg" width="150px"></li>
            <li class="box2"><a href="www.google.com.br"> <img src="../../public/assets/USER1.svg" width="30px" height="30px"> </a></li>
            <li class="box3"><a href="www.google.com.br"><p>CADASTRE-SE</p> </a></li>
            <li class="box4"><a href="www.google.com.br"><p>NOVO CONTEÚDO/EVENTO</p> </a></li>
            <li class="box5"><a href="www.google.com.br"><p>HOME</p> </a></li>
        </ul>
    </nav>

    <div id="corpo">
        <div id="titulo">
            <h1>
                Sobre a empresa
            </h1>
        </div>
        <div id="paragrafos">
            <p>Nascemos com um unico objeto de , ajudar estudantes de T.I conecatando com criadores de conteudo e eventos sobre tecnologia. </p>
            <p>Sabemos o quão dificil é para quem está  iniciando tanto como estudante, como ingreção no ramo da criação de conteudo digital, por isso resolvemos unir o util ao agradavel trazendo uma plataformaonde seja possivel conectar essas pessoas para que ambos consigam evoluir e se ajudar neste mundo que estamos mais envolvidos pela tecnologia e seu maravilhoso universo!</p>
            <p>Junte-se a nós e SOWTec</p>
        </div>

    </div>


</body>
</html>