<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap " rel=" stylesheet ">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../../public/styles/all.scss">
  <link rel="stylesheet" href="../../public/styles/user-profile.scss">

  <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
  <title>Perfil</title>
</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #1B3D46">
    <a class="navbar-brand" href="../views/about.html"><img src="../../public/assets/Camada 223.svg" alt="SowTec"
        width="150px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="../views/index.html">HOME | </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/form-events.html">NOVO CONTEÚDO/EVENTO | </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/user-profile.html">MEU PERFIL | </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/form-user.html">CADASTRE-SE | </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/login.html"><img src="../../public/assets/USER1.svg" alt="Login"
              width="30px" height="30px"></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="profile-page">
    <h3>Meus Eventos e Conteúdos Cadastrados</h3>

    <div class="row">
      <div class="col-sm-2" *ngFor="let card of cards"></div>
      <div class="col-sm-2" *ngFor="let card of cards">
        <div class="card">
          <div class="card-body">
            <p>Nome</p>
            <p>Evento</p>
            <p>Link</p>
            <p>Descrição</p>
            <p>Plataforma</p>

          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ver mais</button>
          </div>

        </div>
      </div>

      <div class="col-sm-2" *ngFor="let card of cards">
        <div class="card">
          <div class="card-body">
            <p>Nome</p>
            <p>Evento</p>
            <p>Link</p>
            <p>Descrição</p>
            <p>Plataforma</p>

          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ver mais</button>
          </div>

        </div>
      </div>

      <div class="col-sm-2" *ngFor="let card of cards">
        <div class="card">
          <div class="card-body">
            <p>Nome</p>
            <p>Evento</p>
            <p>Link</p>
            <p>Descrição</p>
            <p>Plataforma</p>

          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ver mais</button>
          </div>

        </div>
      </div>
      <div class="col-sm-2" *ngFor="let card of cards">
        <div class="card">
          <div class="card-body">
            <p>Nome</p>
            <p>Evento</p>
            <p>Link</p>
            <p>Descrição</p>
            <p>Plataforma</p>

          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ver mais</button>
          </div>

        </div>
      </div>
      <div class="col-sm-2" *ngFor="let card of cards"></div>

      <div class="profile">
        <a href="../views/form-events.html">
          <h3>Cadastrar Novos Eventos e Conteúdos</h3>
        </a>

        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModalExclusion">
          <h4>Excluir Conta</h4>
        </button>
      </div>

    </div>
  </div>


  <!-- Modal de exclusão-->
  <div class="modal fade" id="myModalExclusion">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Tem certeza que deseja excluir sua conta?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modalConfirmation">Sim, tenho certeza!</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Não!</button>
        </div>

      </div>
    </div>
  </div>


  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{events.?name}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  </div>


</body>

</html>