body{
    background-image: radial-gradient(#57BAD2,#3B7988);
    margin: 0;
    margin-top: 0;
}

#menu{
    background-color: #1B3D46;
    height: 20%;  
    margin-top:-16px ;
    align-items: center;
}

.box1, .box2, .box3, .box4, .box5{
    display: inline-flex;
    padding-top: 10px;
}

.box1{
    padding-left: 10%;
}

.box2, .box3, .box4, .box5{
    float:right;
    padding: 25px 20px 0 10px;
    
}
#pk{
    padding: 0;
}

/* corpo da pagina  */

a{
    color: white;
    
}

#corpo{
    margin-top: 4%;
    font-size: 20px;
    
}

#titulo{
    padding-left: 10%;
    padding-right: 60%;
}

#paragrafos{
    font-size: 22px;
    padding: 3% 25% 0 15%;
}