body{
    background-image: radial-gradient(#57BAD2,#3B7988);
}

h3{
    color: #0D2A31;
    font-family: 'David Libre', serif;
    font-weight: 700;  
}

.nav-item{
    font-family: 'David Libre', serif;
    font-weight: 500;
    font-size: 16px;
}